.idea/misc.xml
.idea/modules.xml
.idea/NeoText.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/basti.xml
neotext/neotext_debug.pyc
neotext/.idea/deployment.xml
neotext/.idea/misc.xml
neotext/.idea/modules.xml
neotext/.idea/vcs.xml
neotext/.idea/workspace.xml
neotext/.idea/dictionaries/Mümmel.xml
neotext/.vscode/database.json
neotext/.vscode/launch.json
neotext/__pycache__/neopixel.cpython-36.pyc
neotext/__pycache__/neotext_debug.cpython-36.pyc
